*{
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 48px;
  color: #004d7a;
}

.sudoku-board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0;
  background-color: transparent;
  width: fit-content;
  margin: 0 auto;
  border: 2px solid white;
}

.sudoku-row {
  display: contents;
  z-index: 1;
}

.sudoku-cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-right: 1px solid rgba(255, 255, 255, 0.299); 
  border-bottom: 1px solid rgba(255, 255, 255, 0.299); 
  background-color: transparent;
  color: white;
  border-collapse: collapse;
  z-index: 2;
}

.sudoku-cell:focus{
  background-color: #004d7a88;
}

 .sudoku-cell:nth-child(3n) {
  border-right: 2px solid white;
}
.sudoku-row:nth-child(3n) .sudoku-cell {
  border-bottom: 2px solid white;
}

.sudoku-row:last-child .sudoku-cell {
  border-bottom: none;
}

.sudoku-cell:last-child {
  border-right: none;
}
