* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

#root {
	width: 100%;
	height: 85%;
}

body {
	background-image: -webkit-gradient(
		linear,
		left bottom, right top,
		from(#051937),
		color-stop(#004d7a),
		color-stop(#008793),
		color-stop(#00bf72),
		to(#a8eb12)
	);
	background-image: -o-linear-gradient(
		left bottom,
		#051937,
		#004d7a,
		#008793,
		#00bf72,
		#a8eb12
	);
	background-image: linear-gradient(
		to right top,
		#051937,
		#004d7a,
		#008793,
		#00bf72,
		#a8eb12
	);
	height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.BoardContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	/* margin: 1em 0 0; */
	-webkit-box-flex: 100;
	    -ms-flex-positive: 100;
	        flex-grow: 100;
	max-width: 100%;
	max-height: 100%;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: 100%;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.BoardContainer > * {
	max-width: 100%;
	max-height: 100%;
	aspect-ratio: 1/1;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.ButtonRow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-negative: 2;
	    flex-shrink: 2;
	width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 1em 0 0;
}

.ButtonRow button {
	margin: 0 1em 0.5em;
}

.ButtonRow > * > button {
	width: 100%;
}

.SelectDifficulty {
	padding: 0.5em 1.5em;
	border-radius: 0.75rem;
	background-color: rgba(255,255,255,0.12);
	--plasma-colors-accent: #008793;
}

.SelectDifficulty > * > * {
	margin-bottom: 4px; 
}

.App {
	padding: 1em 4em 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-flow: row;
	    flex-flow: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 100%;
}

.container {
	margin: 0 auto;
	max-width: 960px;
	padding: 0 48px;
}

.custom-toast {
	background: rgba(0, 0, 0, 0);
	color: #fff;
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 5px;
	-webkit-box-shadow: none;
	        box-shadow: none; 
	border: none; 
}

.spinner {
	top: calc(50% - 2rem);
	left: calc(50% - 2rem);
}

.spinnerContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #0000005f;
	z-index: 999;
}

@media (max-width: 600px){
	.App {
		padding: 2em 1em;
	}
}

.ControlPanel {
	-ms-flex-negative: 2;
	    flex-shrink: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	padding: 0 2em 0 0;
	max-width: 35%;
}

.Keyboard {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 80%;
	margin: 0 auto;
}

.Keyboard > button {
	width: 31%;
	margin: 1.16%;
}

.Keyboard > button:last-child {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin: 0.25em 2em;
}

.activeCell {
	background-color: #00263b88 !important;
	outline: 3px solid #fff !important;
	/* outline-offset: -3px; */
	border-radius: 6px !important;
}

.activeCell:focus {
	background-color: #2d516488 !important;
}

.Dropdown {
	--plasma-dropdown-padding: 0.25rem;
	--plasma-dropdown-border-radius: 1rem;
	--plasma-dropdown-item-border-radius: 0.75rem;
	--plasma-popup-width: 75%;
	--plasma-popup-nested-padding: 0 var(--plasma-dropdown-padding, 0);
	--plasma-popup-nested-margin: calc(var(--plasma-dropdown-padding, 0) * -1) 0 0;
	--plasma-dropdown-background: #051937dc;
	z-index: 99999;
}


@media (max-aspect-ratio: 3/4) {
	.App {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-ms-flex-flow: column-reverse;
		    flex-flow: column-reverse;
		padding: 0.5em;
	}

	.BoardContainer input {
		font-size: 20px;
	}

	.BoardContainer {
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		padding: 0 1em;
		max-height: 100%;
	}

	.ControlPanel {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-flow: column-reverse;
		        flex-flow: column-reverse;
		padding: 0;
		max-width: 100%;
		max-height: 50%;
	}

	.Keyboard > button {
		width: 15%;
		margin: 0.83%;
		padding: 1em;
		height: 2.5em;
	}

	.Keyboard > button:last-child {
		width: 30%;
		margin: 0.83%;
	}

	.ButtonRow {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	.ButtonRow button {
		margin: 0.25em;
		padding: 0.5em 1em;
	}
 }

 @media (max-height: 700px) {
	button {
		font-size: 12px !important;
	}
 }

 @media (max-width: 700px) {
	.BoardContainer input {
		font-size: 22px !important;
	}

	.ControlPanel button {
		height: 2.5em;
	}
 }

 @media (max-width: 600px) {

	.App {
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}

	.BoardContainer {
		margin-top: 1em;
	}

	.ControlPanel {
		margin-top: 1em;
		height: 100%;
		-ms-flex-negative: unset;
		    flex-shrink: unset;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: start;
	}

	.Dropdown {
		--plasma-dropdown-padding: 0.25rem;
		--plasma-dropdown-border-radius: 1rem;
		--plasma-dropdown-item-border-radius: 0.75rem;
		--plasma-popup-width: 130%;
	}
 }

 @media (max-width: 900px) {
	.App {
		padding: 1em 1.5em;
	}

	.ControlPanel {
		padding-right: 0.5em;
	}

	.Keyboard > button {
		padding: 0;
		width: 30%;
		margin: 1%;
	}

	.Keyboard {
		margin: 0;
		width: 100%;
	}

	.BoardContainer {
		-webkit-box-flex: 2;
		    -ms-flex-positive: 2;
		        flex-grow: 2;
	}

	.ControlPanel {
		-webkit-box-flex: 5;
		    -ms-flex-positive: 5;
		        flex-grow: 5;
	}
 }

 @media (min-width: 900px) {
	.BoardContainer input {
		font-size: 36px !important;
	}

	.ControlPanel * {
		font-size: 20px;
	}

	.Keyboard > button {
		height: 4em;
	}
 }

 @media (min-width: 1600px) {
	.BoardContainer input {
		font-size: 48px !important;
	}

	.ControlPanel * {
		font-size: 22px;
	}

	.Toastify * {
		--toastify-toast-width: 600px !important;
	}

	.custom-toast {
		font-size: 28px;
	}

	.BoardContainer {
		-webkit-box-flex: 2;
		    -ms-flex-positive: 2;
		        flex-grow: 2;
	}

	.ControlPanel {
		-ms-flex-negative: 1;
		    flex-shrink: 1;
	}

	.ControlPanel button {
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
	}

	.Keyboard > button {
		height: 4em;
		width: 30%;
		margin: 1.5%;
	}

	.ControlPanel button > span {
		font-size: 28px;
		line-height: 1.5em;
	}
 }

 @media (width: 1280px) {
	.App {
		padding: 1em 1em 0;
	}

	.ControlPanel {
		width: 40%;
		max-width: 45%;
	}

	.ControlPanel button {
		padding: 0;
		height: 64px;
	}

	.custom-toast {
		font-size: 24px;
	}
 }

 .Toastify__toast {
	background-color: rgba(0, 0, 0, 0.5);
}